/*////////////// Fonts //////////////*/
h1 {
    color: rgb(152,173,166);
    font-size: 80px;
    font-weight: 400px;
    font-family: 'Baskerville', serif;
    src: url('https://s3.amazonaws.com/learn-verified/Baskerville.ttc');
}

h2 {
  color: rgb(111, 127, 122);
  font-size: 32px;
  font-weight: 700px;
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */